<div class="container" *ngIf="model">
  <h2>{{ (model.name | titlecase) || 'New Hero' }}</h2>
  <div class="hidden" id="heroId"><span>id: </span>{{model.id}}</div>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="awesomeness">Awesomeness</label>
      <select class="form-control" id="awesomeness"
              required
              [(ngModel)]="model.awesomeness" name="awesomeness"
              #awesomeness="ngModel">
        <option *ngFor="let awesome of awesomenessLevel" [value]="awesome">{{awesome}}</option>
      </select>
      <div [hidden]="awesomeness.valid || awesomeness.pristine" class="alert alert-danger">
        Awesomeness is required
      </div>
    </div>

    <button type="button" class="btn btn-link" (click)="goBack()">Back</button>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Save</button>
  </form>
</div>