<h2>My Heroes</h2>

<app-hero-search></app-hero-search>

<ul class="list-group">
  <li *ngFor="let hero of heroes" class="list-group-item hero-{{hero.id}}">
    <button class="close pull-right" title="delete hero"
    (click)="delete(hero)">
      <span>x</span>
    </button>
    <span class="badge">{{hero.awesomeness}}</span> 
    <a routerLink="/heroes/{{hero.id}}" class="hero-{{hero.id}}">
      {{hero.name}}
    </a>
  </li>
</ul>
