<div id="search-component">
  <div class="input-group">
    <input class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  </div>

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/heroes/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
